/* 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font,
img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button
{margin:0;padding:0;border:0;}
ol, ul, li, dl, dt, dd {list-style:none;margin:0;padding:0;}
a, a:link, a:visited, a:active { text-decoration: none; }
table {border-spacing:0;border-collapse: collapse;}
img { -ms-interpolation-mode: bicubic; vertical-align: top; max-width: 100%;}
select { color:#555; vertical-align:middle; padding: 5px; }
input { color:#555; font-size: 13px; font-family: 'NotoSans', Arial; vertical-align:middle; }
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:1em;}
button { background: none; cursor: pointer; }
textarea { resize: none;}


screen {width: 100%; height: 100%; position: absolute; background-color:#ddddff;}
screen #game-screen {
    left: 40px;
    top: 50px; 
    width: 1600px; 
    height:800px; 
    position:absolute; 
    background-color: white;
}

/*
account button 1
*/
screen #game-screen #account-button1{
    left: 100px;
    top: 100px;
    width: 200px; 
    height:200px; 
    position:absolute; 
    background-color:lightgray;
}
screen #game-screen #account-button1.on{
    background-color:#b3eeb3;
}
screen #game-screen #account-button1.on:hover{
    background-color:lightgreen;
}

/*
account button 2
*/
screen #game-screen #account-button2{
    left: 500px;
    top: 100px;
    width: 200px; 
    height:200px; 
    position:absolute; 
    background-color:lightgray;
}
screen #game-screen #account-button2.on{
    background-color:#b3eeb3;
}
screen #game-screen #account-button2.on:hover{
    background-color:lightgreen;
}

/*
account button 3
*/
screen #game-screen #account-button3{
    left: 900px;
    top: 100px;
    width: 200px; 
    height:200px; 
    position:absolute; 
    background-color:lightgray;
}
screen #game-screen #account-button3.on{
    background-color:#b3eeb3;
}
screen #game-screen #account-button3.on:hover{
    background-color:lightgreen;
}

/*
account button 4
*/
screen #game-screen #account-button4{
    left: 1300px;
    top: 100px;
    width: 200px; 
    height:200px; 
    position:absolute; 
    background-color:lightgray;
}
screen #game-screen #account-button4.on{
    background-color:#b3eeb3;
}
screen #game-screen #account-button4.on:hover{
    background-color:lightgreen;
}

screen #game-screen #start-button{
    font-size:0px;
}

screen #game-screen #start-button.on{
    font-size: 13px;
    left: 450px; 
    top: 700px; 
    width:200px; 
    height: 50px; 
    position: absolute; 
    background-color: #c8c8ff;
}

screen #game-screen #create-button {
    left: 700px; 
    top: 700px; 
    width:200px; 
    height: 50px; 
    position: absolute; 
    background-color: #c8c8ff;
}
screen #game-screen #delete-button {
    font-size:0px;
}

screen #game-screen #delete-button.on {
    font-size:13px;
    left: 950px; 
    top: 700px; 
    width:200px; 
    height: 50px; 
    position: absolute; 
    background-color: #c8c8ff;
}