/* 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font,
img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, button
{margin:0;padding:0;border:0;}
ol, ul, li, dl, dt, dd {list-style:none;margin:0;padding:0;}
a, a:link, a:visited, a:active { text-decoration: none; }
table {border-spacing:0;border-collapse: collapse;}
img { -ms-interpolation-mode: bicubic; vertical-align: top; max-width: 100%;}
select { color:#555; vertical-align:middle; padding: 5px; }
input { color:#555; font-size: 13px; font-family: 'NotoSans', Arial; vertical-align:middle; }
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:1em;}
button { background: none; cursor: pointer; }
textarea { resize: none;}

screen {width: 100%; height: 100%; position: absolute; background-color:#ddddff;}
screen #gameScreen {left: 40px; top: 50px; width: 1600px; height:800px; position:absolute; background-color: white;}
screen #gameScreen #canvas {border: 1px solid black; position:absolute;}


screen #bottom-info {
    left: 40px; 
    top: 850px; 
    width: 1602px; 
    height: 40px; 
    position: absolute; 
    background: url('../images/UI/screen/exp.png')
}
screen #bottom-info #exp{
    text-align: center;
    z-index: 3;
    left: 100px; 
    top: 10px; 
    width: 1480px; 
    height: 20px; 
    position: absolute; 
    background-color: #ffd17a;
}
screen #bottom-info a{
    padding-left: 20px;
    text-align: left;
    color: grey;
    left: 0px; 
    top: 0px; 
    width: 200px; 
    height: 20px; 
    position: absolute; 
}
screen #bottom-info #expa{
    left: 100px; 
    top: 10px; 
    width: 1480px; 
    height: 20px; 
    position: absolute; 
    background-color: #000000;
}
screen #bottom-info #hp-mp-section {
    left: 590px; 
    top: -80px; 
    width: 420px; 
    height: 70px; 
    position: absolute; 
    background-color: #0000008c;
}
screen #bottom-info #hp-mp-section #hp {
    left: 10px; 
    top: 10px; 
    width: 40px; 
    height: 20px; 
    position: absolute; 
    background-color:#ff6666;
}
screen #bottom-info #hp-mp-section #mp {
    left: 10px; 
    top: 40px; 
    width: 400px; 
    height: 20px; 
    position: absolute; 
    background-color:#7b7bff;
}
screen #bottom-info #lv {
    font-size: 20px;
    text-align: center;
    color: wheat;
    left: 5px;
    top: 5px;
    width: 80px;
    height: 30px;
    position: absolute;
    background-color: #000000;
}

screen #right-info {
    font-size: 0px;
    left: 1260px; 
    top: 10px; 
    width: 320px; 
    height: 50px; 
    position: absolute; 
}

screen #gameScreen #talk.on {
    z-index: 3;
    font-size: 20px;
    color: wheat;
    left: 0px; 
    top: 600px; 
    width: 1600px; 
    height: 200px; 
    position: absolute; 
    background: url('../images/UI/talk/talk-box.png');
}
screen #gameScreen #talk.on #talk-image {
    left: 100px; 
    top: 20px; 
    width: 100px; 
    height: 100px; 
    position: absolute; 
    background-color: #000000b5;
}

screen #gameScreen #talk.on #talk-name {
    text-align: center;
    left: 100px; 
    top: 140px; 
    width: 100px; 
    height: 40px; 
    position: absolute; 
    background-color: #000000b5;
}

screen #gameScreen #talk.on #talk-text {
    padding: 10px 10px 10px 10px;
    left: 220px; 
    top: 20px; 
    width: 1260px; 
    height: 140px; 
    position: absolute; 
    background-color: #000000b5;
}

#consumption-info{
    left: 300px; 
    top: 710px; 
    width: 200px; 
    height: 100px; 
    position: absolute; 
}

#consumption-info #screen-consumption-key1{
    left: 20px; 
    top: 10px; 
    width: 70px; 
    height: 70px; 
    position: absolute; 
    background: url('../images/items/ui/empty.png');
}
#consumption-info #screen-consumption-key2{
    left: 110px; 
    top: 10px; 
    width: 70px; 
    height: 70px; 
    position: absolute; 
    background: url('../images/items/ui/empty.png');
}
#consumption-key1-image{
    left: 15px; 
    top: 15px; 
    width: 40px; 
    height: 40px; 
    position: absolute; 
}
#consumption-key1-name {
    text-align: center;
    font-size: 12px;
    left: 5px;
    top: 0px;
    position:absolute;
    color:black;
}
#consumption-key1-amount {
    text-align: center;
    font-size: 18px;
    left: 25px;
    top: 45px;
    width: 40px;
    height: 20px;
    position:absolute;
}
#consumption-key2-image{
    left: 15px; 
    top: 15px; 
    width: 40px; 
    height: 40px; 
    position: absolute; 
}
#consumption-key2-name {
    text-align: center;
    font-size: 12px;
    left: 5px;
    top: 0px;
    position:absolute;
    color:black;
}
#consumption-key2-amount {
    text-align: center;
    font-size: 18px;
    left: 25px;
    top: 45px;
    width: 40px;
    height: 20px;
    position:absolute;
}

#skill-info {
    left: 20px; 
    top: 670px; 
    width: 220px; 
    height: 140px; 
    position: absolute;
}
.skill-key-name{
    font-size:12px;
    left: 5px; 
    top: 2px; 
    width: 10px; 
    height: 10px; 
    position: absolute;
}
#screen-skill-key1{
    left: 0px; 
    top: 0px; 
    width: 60px; 
    height: 60px; 
    position: absolute;
    background: url('../images/skills/ui/blank.png');
}
#skill-key1-image{
    left: 10px; 
    top: 10px; 
    width: 40px; 
    height: 40px; 
    position: absolute;
    background-color: #ffffff;
}

#screen-skill-key2{
    left: 65px; 
    top: 0px; 
    width: 60px; 
    height: 60px; 
    position: absolute;
    background: url('../images/skills/ui/blank.png');
}
#skill-key2-image{
    left: 10px; 
    top: 10px; 
    width: 40px; 
    height: 40px; 
    position: absolute;
    background-color: #ffffff;
}
#screen-skill-key3{
    left: 130px; 
    top: 0px; 
    width: 60px; 
    height: 60px; 
    position: absolute;
    background: url('../images/skills/ui/blank.png');
}
#skill-key3-image{
    left: 10px; 
    top: 10px; 
    width: 40px; 
    height: 40px; 
    position: absolute;
    background-color: #ffffff;
}
#screen-skill-key4{
    left: 195px; 
    top: 0px; 
    width: 60px; 
    height: 60px; 
    position: absolute;
    background: url('../images/skills/ui/blank.png');
}
#skill-key4-image{
    left: 10px; 
    top: 10px; 
    width: 40px; 
    height: 40px; 
    position: absolute;
    background-color: #ffffff;
}
#screen-skill-key5{
    left: 0px; 
    top: 65px; 
    width: 60px; 
    height: 60px; 
    position: absolute;
    background: url('../images/skills/ui/blank.png');
}
#skill-key5-image{
    left: 10px; 
    top: 10px; 
    width: 40px; 
    height: 40px; 
    position: absolute;
    background-color: #ffffff;
}
#screen-skill-key6{
    left: 65px; 
    top: 65px; 
    width: 60px; 
    height: 60px; 
    position: absolute;
    background: url('../images/skills/ui/blank.png');
}
#skill-key6-image{
    left: 10px; 
    top: 10px; 
    width: 40px; 
    height: 40px; 
    position: absolute;
    background-color: #ffffff;
}
#screen-skill-key7{
    left: 130px; 
    top: 65px; 
    width: 60px; 
    height: 60px; 
    position: absolute;
    background: url('../images/skills/ui/blank.png');
}
#skill-key7-image{
    left: 10px; 
    top: 10px; 
    width: 40px; 
    height: 40px; 
    position: absolute;
    background-color: #ffffff;
}
#screen-skill-key8{
    left: 195px; 
    top: 65px; 
    width: 60px; 
    height: 60px; 
    position: absolute;
    background: url('../images/skills/ui/blank.png');
}
#skill-key8-image{
    left: 10px; 
    top: 10px; 
    width: 40px; 
    height: 40px; 
    position: absolute;
    background-color: #ffffff;
}

#information-text-area{
    text-align: center;
    left: 1350px; 
    top: 670px; 
    width: 250px; 
    height: 130px; 
    position: absolute;
    background: url('../images/UI/text/text-box.png');
}
#information-text-area #info-text-name{
    text-align: left;
    left: 10px; 
    top: 10px; 
    width: 230px; 
    height: 110px; 
    position: absolute;
}
#information-text-area #info-text-value{
    text-align: right;
    left: 10px; 
    top: 10px; 
    width: 230px; 
    height: 110px; 
    position: absolute;
}
#information-text-area .text-line{
    color: wheat;
    width: 230px; 
    height: 20px; 
    position: absolute;
}
#quest-text-area{
    text-align:center;
    font-weight: 600;
    left: 600px; 
    top: 100px; 
    width: 400px; 
    height: 30px; 
    position: absolute;
}
