/* quest */
screen #quest.on {
    font-size : 12px;
    text-align: center;
    left: 350px;
    top: 110px;
    width: 1000px;
    height: 600px;
    position: absolute;
    background-color: #c6c6c6;
}
#quest.on #quest-bar {
    left: 0px;
    top: 0px;
    width: 1000px;
    height: 20px;
    z-index: 2;
    position: absolute;
    background-color: #e5e4e4;
}
#quest.on #quest-first-section{
    left: 0px;
    top: 20px;
    width: 350px;
    height: 580px;
    position: absolute;
    background-color: #e39494
}
#quest.on #quest-first-section #quest-first-name{
    color: #000000b0;
    font-weight: 600;
    font-size: 20px;
    left: 0px;
    top: 10px;
    width: 350px;
    height: 30px;
    position: absolute;
}
#quest.on #quest-first-section #quest-first-list{
    left:10px;
    top: 45px;
    width: 330px;
    height: 530px;
    position: absolute;
}
#quest.on #quest-first-section #quest-first-list .quest-line{
    padding-left: 20px;
    text-align: left;
    font-size: 15px;
    width: 330px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/quest/quest-line.png')
}

#quest.on #quest-second-section{
    left: 350px;
    top: 20px;
    width: 350px;
    height: 580px;
    position: absolute;
    background-color: #a3adf9;
}
#quest.on #quest-second-section #quest-second-name{
    color: #000000b0;
    font-weight: 600;
    font-size: 20px;
    left: 0px;
    top: 10px;
    width: 350px;
    height: 30px;
    position: absolute;
}
#quest.on #quest-second-section #quest-second-list{
    left:10px;
    top: 45px;
    width: 330px;
    height: 530px;
    position: absolute;
}
#quest.on #quest-second-section #quest-second-list .quest-line{
    padding-left: 20px;
    text-align: left;
    font-size: 15px;
    width: 330px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/quest/quest-line.png')
}
#quest.on #quest-detail{
    font-size:0px;
    left: 700px;
    top: 20px;
    width: 300px;
    height: 580px;
    position: absolute;
    background-color: #c9a869;
}
#quest.on #quest-detail.on{
    font-size:12px;
    left: 700px;
    top: 20px;
    width: 300px;
    height: 580px;
    position: absolute;
    background-color: #ffd17a;
}
#quest.on #quest-detail #quest-detail-name{
    color: #000000b0;
    font-weight: 600;
    font-size: 20px;
    left: 0px;
    top: 10px;
    width: 300px;
    height: 30px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-detail-first{
    left:10px;
    top: 45px;
    width: 280px;
    height: 220px;
    position: absolute;
    background-color: #ffffff69;
}
#quest.on #quest-detail.on #quest-detail-img{
    left: 90px;
    top: 40px;
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #ffffffe6;
}
#quest.on #quest-detail.on #quest-detail-questTitle{
    font-size: 18px;
    left: 40px;
    top: 160px;
    width: 200px;
    height: 40px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-detail-second{
    left:10px;
    top: 270px;
    width: 280px;
    height: 200px;
    position: absolute;
    background-color: #ffffff69;
}
#quest.on #quest-detail.on #quest-request{
    left:10px;
    top: 10px;
    width: 260px;
    height: 60px;
    position: absolute;
    background-color: #ffffffe6;
}
#quest.on #quest-detail.on #quest-request #quest-request-name{
    font-size: 15px;
    left:0px;
    top: 20px;
    width: 50px;
    height: 20px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-request #quest-request-objectImage{
    left:60px;
    top: 10px;
    width: 40px;
    height: 40px;
    position: absolute;  
}
#quest.on #quest-detail.on #quest-request #quest-request-object{
    left:110px;
    top: 20px;
    width: 80px;
    height: 20px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-request #quest-request-amount{
    left:200px;
    top: 20px;
    width: 50px;
    height: 20px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-award{
    left:10px;
    top: 80px;
    width: 260px;
    height: 110px;
    position: absolute;
    background-color: #ffffffe6;
}
#quest.on #quest-detail.on #quest-award-name{
    font-size: 15px;
    left:0px;
    top: 45px;
    width: 50px;
    height: 20px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-award-line1{
    font-size: 15px;
    left:60px;
    top: 10px;
    width: 200px;
    height: 20px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-award-line1-name{
    text-align: left;
    left:0px;
    top: 0px;
    width: 50px;
    height: 20px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-award-line1-value{
    text-align: right;
    left: 100px;
    top: 0px;
    width: 100px;
    height: 20px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-award-line2{
    font-size: 15px;
    left:60px;
    top: 33px;
    width: 200px;
    height: 20px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-award-line2-name{
    text-align: left;
    left:0px;
    top: 0px;
    width: 50px;
    height: 20px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-award-line2-value{
    text-align: right;
    left: 100px;
    top: 0px;
    width: 100px;
    height: 20px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-award-line3{
    font-size: 15px;
    left:60px;
    top: 57px;
    width: 200px;
    height: 20px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-award-line3-name{
    text-align: left;
    left:0px;
    top: 0px;
    width: 50px;
    height: 20px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-award-line3-value{
    text-align: right;
    left: 100px;
    top: 0px;
    width: 100px;
    height: 20px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-award-line4{
    font-size: 15px;
    left:60px;
    top: 80px;
    width: 200px;
    height: 20px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-award-line4-name{
    text-align: left;
    left:0px;
    top: 0px;
    width: 50px;
    height: 20px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-award-line4-value{
    text-align: right;
    left: 100px;
    top: 0px;
    width: 100px;
    height: 20px;
    position: absolute;
}
#quest.on #quest-detail.on #quest-detail-third{
    left:10px;
    top: 475px;
    width: 280px;
    height: 100px;
    position: absolute;
    background-color: #ffffff69;
}
#quest.on #quest-detail.on #quest-detail-third #quest-detail-info{
    padding-top: 5px;
    left:10px;
    top: 10px;
    width: 260px;
    height: 80px;
    position: absolute;
    background-color: #ffffffe6;
}