
.drop-hover {
    background-color: skyblue !important;
}
screen #stat.on #stat-right-lower #HP-point-button.on{
    background: url('../images/UI/stat/stat-point-button-on.png')
}
screen #stat.on #stat-right-lower #MP-point-button.on{
    background: url('../images/UI/stat/stat-point-button-on.png')
}
screen #stat.on #stat-right-lower #AD-point-button.on{
    background: url('../images/UI/stat/stat-point-button-on.png')
}
screen #stat.on #stat-right-lower #CP-point-button.on{
    background: url('../images/UI/stat/stat-point-button-on.png')
}
screen #stat.on #stat-right-lower #CD-point-button.on{
    background: url('../images/UI/stat/stat-point-button-on.png')
}
screen #stat.on #stat-right-lower #DEF-point-button.on{
    background: url('../images/UI/stat/stat-point-button-on.png')
}
screen #stat.on #stat-right-lower #AS-point-button.on{
    background: url('../images/UI/stat/stat-point-button-on.png')
}
.no-click{
    pointer-events: none;
}