#spc {
    font-size: 0px;
}
#spc.on {
    text-align: center;
    font-size: 15px;
    color: white;
    left:700px;
    top: 150px;
    width: 200px;
    height: 400px;
    position: absolute;  
    background-color: #000000b5;
}
#spc.on #spc-name {
    color: wheat;
    font-size: 18px;
    left:0px;
    top: 10px;
    width: 200px;
    height: 40px;
    position: absolute;  
}
#spc.on #spc1-name{
    left:10px;
    top: 100px;
    width: 100px;
    height: 20px;
    position: absolute;
}
#spc.on #spc1-input{
    left:150px;
    top: 100px;
    width: 20px;
    height: 20px;
    position: absolute;
}
#spc.on #spc2-name{
    left:10px;
    top: 200px;
    width: 120px;
    height: 20px;
    position: absolute;
}
#spc.on #spc2-input{
    left:150px;
    top: 200px;
    width: 20px;
    height: 20px;
    position: absolute;
}
#spc.on #spc-submit{
    left:70px;
    top: 350px;
    width: 60px;
    height: 20px;
    position: absolute;
    background-color:white;
}