/* stat */
screen #stat {
    font-size:0px;
}
screen #stat.on {
    font-size:20px;
    left: 350px;
    top: 110px;
    width: 600px;
    height: 600px;
    position: absolute;
    background-color: #c6c6c6;
}
screen #stat.on #stat-left {
    color:wheat;
    text-align: center;
    font-size: 20px;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 600px;
    position: absolute;
    background-color: #5b564b;
}
screen #stat.on #stat-left #final-HP{
    left: 10px;
    top: 285px;
    width: 280px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/stat/stat-block-left.png');
}
screen #stat.on #stat-left #final-HP #final-HP-name{
    left: 5px;
    top: 5px;
    width: 50px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-left #final-HP #final-HP-value{
    text-align: right;
    left: 110px;
    top: 5px;
    width: 150px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-left #final-MP{
    left: 10px;
    top: 325px;
    width: 280px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/stat/stat-block-left.png');
}
screen #stat.on #stat-left #final-MP #final-MP-name{
    left: 5px;
    top: 5px;
    width: 50px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-left #final-MP #final-MP-value{
    text-align: right;
    left: 110px;
    top: 5px;
    width: 150px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-left #final-AD{
    left: 10px;
    top: 365px;
    width: 280px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/stat/stat-block-left.png');
}
screen #stat.on #stat-left #final-AD #final-AD-name{
    left: 5px;
    top: 5px;
    width: 50px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-left #final-AD #final-AD-value{
    text-align: right;
    left: 110px;
    top: 5px;
    width: 150px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-left #final-CP{
    left: 10px;
    top: 405px;
    width: 280px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/stat/stat-block-left.png');
}
screen #stat.on #stat-left #final-CP #final-CP-name{
    left: 5px;
    top: 5px;
    width: 50px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-left #final-CP #final-CP-value{
    text-align: right;
    left: 110px;
    top: 5px;
    width: 150px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-left #final-CD{
    left: 10px;
    top: 445px;
    width: 280px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/stat/stat-block-left.png');
}
screen #stat.on #stat-left #final-CD #final-CD-name{
    left: 5px;
    top: 5px;
    width: 50px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-left #final-CD #final-CD-value{
    text-align: right;
    left: 110px;
    top: 5px;
    width: 150px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-left #final-DEF{
    left: 10px;
    top: 485px;
    width: 280px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/stat/stat-block-left.png');
}
screen #stat.on #stat-left #final-DEF #final-DEF-name{
    left: 5px;
    top: 5px;
    width: 50px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-left #final-DEF #final-DEF-value{
    text-align: right;
    left: 110px;
    top: 5px;
    width: 150px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-left #final-AS{
    left: 10px;
    top: 525px;
    width: 280px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/stat/stat-block-left.png');
}
screen #stat.on #stat-left #final-AS #final-AS-name{
    left: 5px;
    top: 5px;
    width: 50px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-left #final-AS #final-AS-value{
    text-align: right;
    left: 110px;
    top: 5px;
    width: 150px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right {
    left: 300px;
    top: 0px;
    width: 300px;
    height: 600px;
    position: absolute;
    background-color: #aea4fd;
}
screen #stat.on #stat-right-upper {
    left: 0px;
    top: 0px;
    width: 300px;
    height: 250px;
    position: absolute;
    background-color: #675db3;
}
screen #stat.on #stat-right-lower {
    color: wheat;
    text-align: center;
    font-size: 20px;
    left: 0px;
    top: 250px;
    width: 300px;
    height: 350px;
    position: absolute;
    background-color: #5b564b;
}
screen #stat.on #stat-right-lower #HP-point{
    left: 10px;
    top: 35px;
    width: 280px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/stat/stat-block-right.png');
}
screen #stat.on #stat-right-lower #HP-point-name{
    left: 5px;
    top: 5px;
    width: 50px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #HP-point-cur{
    left: 70px;
    top: 5px;
    width: 60px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #HP-point-max{
    left: 170px;
    top: 5px;
    width: 60px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #HP-point-button{
    left: 245px;
    top: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    background: url('../images/UI/stat/stat-point-button-off.png');
}

screen #stat.on #stat-right-lower #MP-point{
    left: 10px;
    top: 75px;
    width: 280px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/stat/stat-block-right.png');
}
screen #stat.on #stat-right-lower #MP-point-name{
    left: 5px;
    top: 5px;
    width: 50px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #MP-point-cur{
    left: 70px;
    top: 5px;
    width: 60px;
    height: 30px;
    position: absolute;;
}
screen #stat.on #stat-right-lower #MP-point-max{
    left: 170px;
    top: 5px;
    width: 60px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #MP-point-button{
    left: 245px;
    top: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    background: url('../images/UI/stat/stat-point-button-off.png');
}
screen #stat.on #stat-right-lower #AD-point{
    left: 10px;
    top: 115px;
    width: 280px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/stat/stat-block-right.png');
}
screen #stat.on #stat-right-lower #AD-point-name{
    left: 5px;
    top: 5px;
    width: 50px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #AD-point-cur{
    left: 70px;
    top: 5px;
    width: 60px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #AD-point-max{
    left: 170px;
    top: 5px;
    width: 60px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #AD-point-button{
    left: 245px;
    top: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    background: url('../images/UI/stat/stat-point-button-off.png');
}
screen #stat.on #stat-right-lower #CP-point{
    left: 10px;
    top: 155px;
    width: 280px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/stat/stat-block-right.png');
}
screen #stat.on #stat-right-lower #CP-point-name{
    left: 5px;
    top: 5px;
    width: 50px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #CP-point-cur{
    left: 70px;
    top: 5px;
    width: 60px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #CP-point-max{
    left: 170px;
    top: 5px;
    width: 60px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #CP-point-button{
    left: 245px;
    top: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    background: url('../images/UI/stat/stat-point-button-off.png');
}
screen #stat.on #stat-right-lower #CD-point{
    left: 10px;
    top: 195px;
    width: 280px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/stat/stat-block-right.png');
}
screen #stat.on #stat-right-lower #CD-point-name{
    left: 5px;
    top: 5px;
    width: 50px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #CD-point-cur{
    left: 70px;
    top: 5px;
    width: 60px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #CD-point-max{
    left: 170px;
    top: 5px;
    width: 60px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #CD-point-button{
    left: 245px;
    top: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    background: url('../images/UI/stat/stat-point-button-off.png');
}
screen #stat.on #stat-right-lower #DEF-point{
    left: 10px;
    top: 235px;
    width: 280px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/stat/stat-block-right.png');
}
screen #stat.on #stat-right-lower #DEF-point-name{
    left: 5px;
    top: 5px;
    width: 50px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #DEF-point-cur{
    left: 70px;
    top: 5px;
    width: 60px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #DEF-point-max{
    left: 170px;
    top: 5px;
    width: 60px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #DEF-point-button{
    left: 245px;
    top: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    background: url('../images/UI/stat/stat-point-button-off.png');
}
screen #stat.on #stat-right-lower #AS-point{
    left: 10px;
    top: 275px;
    width: 280px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/stat/stat-block-right.png');
}
screen #stat.on #stat-right-lower #AS-point-name{
    left: 5px;
    top: 5px;
    width: 50px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #AS-point-cur{
    left: 70px;
    top: 5px;
    width: 60px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #AS-point-max{
    left: 170px;
    top: 5px;
    width: 60px;
    height: 30px;
    position: absolute;
}
screen #stat.on #stat-right-lower #AS-point-button{
    left: 245px;
    top: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    background: url('../images/UI/stat/stat-point-button-off.png');
}
screen #stat.on #stat-right-lower #have-stat-point{
    left: 100px;
    top: 318px;
    width: 100px;
    height: 30px;
    position: absolute;
    background: url('../images/UI/stat/cur-stat-point.png');
}
screen #stat.on #stat-right-lower #have-stat-point #have-stat-point-num{
    left: 50px;
    top: 0px;
    width: 50px;
    height: 30px;
    position: absolute;
}
/*stat-bar*/
screen #stat.on #stat-bar {
    left: 0px;
    top: 0px;
    width: 600px;
    height: 20px;
    z-index: 2;
    position: absolute;
    background-color: #ffffff;
}