input {
    padding: 0px 0px 0px 0px;
    border: 0px;
}
#store-item-area .store-item{

}
#store{
    font-size:0px;
}
#store.on {
    font-size:15px;
    left: 500px;
    top: 100px;
    width: 750px;
    height: 600px;
    position: absolute;
    background-color: #9a9a9a;
}
#store.on #store-bar {
    left: 0px;
    top: 0px;
    width: 750px;
    height: 20px;
    z-index: 2;
    position: absolute;
    background-color: #e5e4e4;
}
#store.on #store-item-area{
    left: 0px;
    top: 20px;
    width: 450px;
    height: 580px;
    position: absolute;
    background-color: #5b564b;
}
#store.on #store-item-inner-area{
    left: 15px;
    top: 10px;
    width: 420px;
    height: 560px;
    position: absolute;
    background-color: #ad7373;
}
#store.on #store-item-area .store-item{
    width: 70px;
    height:70px;
    position:absolute;
}
#store.on #store-detail-area{
    font-size:0px;
    color:white;
    left: 450px;
    top: 20px;
    width: 300px;
    height: 580px;
    position: absolute;
    background: url('../images/UI/store/store-detail.png');
}
#store.on #store-detail-area.on{
    font-size: 15px;
    left: 450px;
    top: 20px;
    width: 300px;
    height: 580px;
    position: absolute;
    background: url('../images/UI/store/store-detail.png');
}

#store.on #store-detail-area.on #store-detail-top{
    left: 0px;
    top: 0px;
    width: 300px;
    height: 290px;
    position: absolute;
}
#store.on #store-detail-area.on #store-detail-top #store-detail-image{
    left: 115px;
    top: 20px;
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #ffffff;
}
#store.on #store-detail-area.on #store-detail-top #store-detail-name{
    color:wheat;
    text-align: center;
    left: 25px;
    top: 110px;
    width: 250px;
    height: 30px;
    position: absolute;
    background-color: #4a4a4a;
}
#store.on #store-detail-area.on #store-detail-top #store-detail-info{
    color:wheat;
    padding: 5px 5px 5px 5px;
    left: 25px;
    top: 150px;
    width: 240px;
    height: 120px;
    position: absolute;
    background-color: #4a4a4a;
}
#store.on #store-detail-area #store-detail-bottom{
    color:wheat;
    text-align: center;
    font-weight: 600;
    left: 0px;
    top: 290px;
    width: 300px;
    height: 290px;
    position: absolute;
}


#store.on #store-detail-area #store-detail-bottom #store-detail-price{
    left: 25px;
    top: 10px;
    width: 250px;
    height: 40px;
    position: absolute;
}
#store.on #store-detail-area #store-detail-bottom #store-detail-price-name{
    color: black;
    font-size: 15px;
    left: 0px;
    top: 10px;
    width: 60px;
    height: 20px;
    position: absolute;
}
#store.on #store-detail-area #store-detail-bottom #store-detail-price-value{
    color: black;
    text-align: right;
    font-size: 15px;
    left: 100px;
    top: 10px;
    width: 150px;
    height: 20px;
    position: absolute;
    background-color: #ffffff;
}
#store.on #store-detail-area #store-detail-bottom #store-detail-amount{
    left: 25px;
    top: 60px;
    width: 250px;
    height: 40px;
    position: absolute;
}
#store.on #store-detail-area #store-detail-bottom #store-detail-amount-name{
    color: black;
    font-size: 15px;
    left: 0px;
    top: 10px;
    width: 60px;
    height: 20px;
    position: absolute;
}
#store.on #store-detail-area #store-detail-bottom #store-detail-amount-value{
    text-align: right;
    font-size: 15px;
    left: 100px;
    top: 10px;
    width: 150px;
    height: 20px;
    position: absolute;
    background-color: #ffffff;
}
#store.on #store-detail-area #store-detail-bottom #store-detail-amount #store-amount-set{
    left: 200px;
    top: 50px;
    width: 50px;
    height: 30px;
    position: absolute;
    background-color: #ffffff;
}
#store.on #store-detail-area #store-detail-bottom #store-detail-totalPrice{
    left: 25px;
    top: 200px;
    width: 250px;
    height: 40px;
    position: absolute;
}
#store.on #store-detail-area #store-detail-bottom #store-detail-totalPrice-name{
    color: black;
    font-size: 15px;
    left: 0px;
    top: 10px;
    width: 60px;
    height: 20px;
    position: absolute;
}
#store.on #store-detail-area #store-detail-bottom #store-detail-totalPrice-value{
    color: black;
    text-align: right;
    font-size: 15px;
    left: 100px;
    top: 10px;
    width: 150px;
    height: 20px;
    position: absolute;
    background-color: #ffffff;
}
#store.on #store-detail-area #store-detail-bottom #store-detail-buy{
    left: 100px;
    top: 250px;
    width: 100px;
    height: 30px;
    position: absolute;
    background-color: #ffffff;
}