/*
오른쪽 상단 버튼
*/
screen #right-info #stat-button{
    font-size: 0px;
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/menu/stat-menu.png');
}
screen #right-info #stat-button.hover{
    background: url('../images/UI/menu/stat-menu-hover.png');
}
screen #right-info #stat-button.on{
    font-size: 12px;
}

screen #right-info #skill-button{
    font-size: 0px;
    left: 50px;
    top: 5px;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/menu/skill-menu.png');
}
screen #right-info #skill-button.hover{
    background: url('../images/UI/menu/skill-menu-hover.png');
}
screen #right-info #skill-button.on{
    font-size: 12px;
    background-color: #ffcdcd;
}
screen #right-info #inventory-button{
    font-size: 0px;
    left: 95px;
    top: 5px;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/menu/inventory-menu.png');
}
screen #right-info #inventory-button:hover{
    background-color: #ffcdcd;
}
screen #right-info #inventory-button.on{
    font-size: 12px;
    background-color: #ffcdcd;
}
screen #right-info #quest-button{
    font-size: 0px;
    left: 140px;
    top: 5px;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('../images/UI/menu/quest-menu.png');
}
screen #right-info #quest-button.hover{
    background: url('../images/UI/menu/quest-menu-hover.png');
}
screen #right-info #quest-button.on{
    font-size: 12px;
    background-color: #ffcdcd;
}
screen #right-info #contents-button{
    font-size: 0px;
    left: 185px;
    top: 5px;
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #fbe9e9;
}
screen #right-info #contents-button:hover{
    background-color: #ffcdcd;
}
screen #right-info #contents-button.on{
    font-size: 12px;
    background-color: #ffcdcd;
}
screen #right-info #stone-button{
    font-size: 0px;
    left: 230px;
    top: 5px;
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #fbe9e9;
}
screen #right-info #stone-button:hover{
    background-color: #ffcdcd;
}
screen #right-info #stone-button.on{
    font-size: 12px;
    background-color: #ffcdcd;
}

screen #right-info #map-button{
    font-size: 0px;
    left: 275px;
    top: 5px;
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #fbe9e9;
}
screen #right-info #map-button:hover{
    background-color: #ffcdcd;
}
screen #right-info #map-button.on{
    font-size: 12px;
    background-color: #ffcdcd;
}
/* map-name */
screen #miniMap-name-area{
    left: 2px;
    top: 2px;
    width: 180px;
    height: 180px;
    position: absolute;
    background: url('../images/UI/map/mini-map.png');
}
screen #miniMap-name-area #miniMap-image{
    left: 5px;
    top: 5px;
    width: 170px;
    height: 140px;
    position: absolute;
}
screen #miniMap-name-area #miniMap-name{
    text-align:center;
    font-size: 15px;
    color: white;
    left: 5px;
    top: 150px;
    width: 170px;
    height: 20px;
    position: absolute;
}

/* skill */
screen #skill-casting-area{
    left: 200px;
    top: 20px;
    width: 500px;
    height: 40px;
    position: absolute;
}
screen #skill.on {
    font-size : 12px;
    left: 350px;
    top: 110px;
    width: 650px;
    height: 600px;
    position: absolute;
    background-color: #c6c6c6;
}
/*skill-bar*/
screen #skill.on #skill-bar {
    left: 0px;
    top: 0px;
    width: 650px;
    height: 20px;
    z-index: 2;
    position: absolute;
    background-color: #ffffff;
}
/*skill-key*/
screen #skill.on #skill-key {
    left: 0px;
    top: 20px;
    width: 80px;
    height: 580px;
    position: absolute;
    background-color: #5B564B;
}
screen #skill.on #skill-key #skill-key1{
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('../images/skills/ui/keys/Q.png');
}
screen #skill.on #skill-key #skill-key2{
    left: 20px;
    top: 90px;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('../images/skills/ui/keys/W.png');
}
screen #skill.on #skill-key #skill-key3{
    left: 20px;
    top: 160px;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('../images/skills/ui/keys/E.png');
}
screen #skill.on #skill-key #skill-key4{
    left: 20px;
    top: 230px;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('../images/skills/ui/keys/R.png');
}
screen #skill.on #skill-key #skill-key5{
    left: 20px;
    top: 300px;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('../images/skills/ui/keys/A.png');
}
screen #skill.on #skill-key #skill-key6{
    left: 20px;
    top: 370px;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('../images/skills/ui/keys/S.png');
}
screen #skill.on #skill-key #skill-key7{
    left: 20px;
    top: 440px;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('../images/skills/ui/keys/D.png');
}
screen #skill.on #skill-key #skill-key8{
    left: 20px;
    top:510px;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('../images/skills/ui/keys/F.png');
}
screen #skill.on #skill-block {
    left: 80px;
    top: 20px;
    width: 300px;
    height: 580px;
    position: absolute;
    background-color: #8c8c8c;
}
screen #skill.on #skill-block #skill-block1{
    left: 40px;
    top: 55px;
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #eaeaea;
}
screen #skill.on #skill-block #skill-block2{
    left: 190px;
    top: 55px;
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #eaeaea;
}
screen #skill.on #skill-block #skill-block3{
    left: 40px;
    top: 155px;
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #eaeaea;
}
screen #skill.on #skill-block #skill-block4{
    left: 190px;
    top: 155px;
    width: 70px;
    height: 70px;
    position: absolute;
    background: url('../images/UI/skill/skill-deactivated.png');
}
screen #skill.on #skill-block #skill-block5{
    left: 40px;
    top: 255px;
    width: 70px;
    height: 70px;
    position: absolute;
    background: url('../images/UI/skill/skill-deactivated.png');
}
screen #skill.on #skill-block #skill-block6{
    left: 190px;
    top: 255px;
    width: 70px;
    height: 70px;
    position: absolute;
    background: url('../images/UI/skill/skill-deactivated.png');
}
screen #skill.on #skill-block #skill-block7{
    left: 40px;
    top: 355px;
    width: 70px;
    height: 70px;
    position: absolute;
    background: url('../images/UI/skill/skill-deactivated.png');
}
screen #skill.on #skill-block #skill-block8{
    left: 190px;
    top: 355px;
    width: 70px;
    height: 70px;
    position: absolute;
    background: url('../images/UI/skill/skill-deactivated.png');
}
screen #skill.on #skill-block #skill-block9{
    left: 40px;
    top: 455px;
    width: 70px;
    height: 70px;
    position: absolute;
    background: url('../images/UI/skill/skill-deactivated.png');
}
screen #skill.on #skill-block #skill-block10{
    left: 190px;
    top: 455px;
    width: 70px;
    height: 70px;
    position: absolute;
    background: url('../images/UI/skill/skill-deactivated.png');
}
/*skill-detail*/
screen #skill.on #skill-detail {
    color: wheat;
    left: 380px;
    top: 20px;
    width: 270px;
    height: 580px;
    position: absolute;
    background-color: #5b564b;
}
screen #skill.on #skill-detail.on #skill-detail-img {
    left: 100px;
    top: 40px;
    width: 70px;
    height: 70px;
    position: absolute;
    background: url('../images/items/innerItem/empty.png');
}

screen #skill.on #skill-detail.on #skill-detail-name {
    font-size: 17px;
    text-align: center;
    left: 35px;
    top: 150px;
    width: 200px;
    height: 30px;
    position: absolute;
    background-color: #00000063;
}
screen #skill.on #skill-detail.on #skill-detail-info {
    left: 10px;
    top: 220px;
    width: 250px;
    height: 350px;
    position: absolute;
    background-color: #00000063;
}
screen #skill.on #skill-detail.on #skill-detail-info #skill-info-top {
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    left: 0px;
    top: 0px;
    width: 230px;
    height: 80px;
    position: absolute;
}
screen #skill.on #skill-detail.on #skill-detail-info #skill-effect {
    left: 0px;
    top: 100px;
    width: 250px;
    height: 250px;
    position: absolute;
    background-color: #00000063;
}
screen #skill.on #skill-detail.on #skill-detail-info #skill-effect-name {
    font-size: 18px;
    left: 5px;
    top: 0px;
    width: 125px;
    height: 250px;
    position: absolute;
}
screen #skill.on #skill-detail.on #skill-detail-info #skill-effect-value {
    font-size: 18px;
    text-align: right;
    left: 125px;
    top: 0px;
    width: 120px;
    height: 250px;
    position: absolute;
}
/* 
inventory 
*/
#inventory {
    font-size : 0px;
}
#inventory.on {
    font-size : 12px;
    left: 350px;
    top: 110px;
    width: 1000px;
    height: 600px;
    position: absolute;
    background-color: #c6c6c6;
}
/*
inventory - bar 
*/
#inventory.on #inventory-bar {
    left: 0px;
    top: 0px;
    width: 1000px;
    height: 20px;
    z-index: 2;
    position: absolute;
    background-color: #e5e4e4;
}
/*
inventory - key 
*/
#inventory.on #inventory-key {
    left: 0px;
    top: 20px;
    width: 80px;
    height: 580px;
    position: absolute;
    background-color: #5B564B;
}
#inventory.on #inventory-key #consumption-key1{
    left: 20px;
    top: 70px;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('../images/items/ui/consumption-key1.png');
}
#inventory.on #inventory-key #consumption-key2{
    left: 20px;
    top: 140px;
    width: 40px;
    height: 40px;
    position: absolute;
    background: url('../images/items/ui/consumption-key2.png')
}
/*
inventory - equipments 
*/
#inventory.on #equipments {
    left: 80px;
    top: 20px;
    width: 300px;
    height: 580px;
    position: absolute;
    background-color: #00000063;
}

#inventory.on #equipments #weapon{
    left: 40px;
    top: 60px;
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #eaeaea;
}
#inventory.on #equipments #helmet{
    left: 190px;
    top: 60px;
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #eaeaea;
}
#inventory.on #equipments #armor{
    left: 40px;
    top: 270px;
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #eaeaea;
}
#inventory.on #equipments #gloves{
    left: 190px;
    top: 270px;
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #eaeaea;
}
#inventory.on #equipments #shoes{
    left: 40px;
    top: 480px;
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #eaeaea;
}
#inventory.on #equipments #belt{
    left: 190px;
    top: 480px;
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #eaeaea;
}
#inventory.on #equipments .item-piece{
    width: 70px !important;
    height: 70px !important
}

/*
inventory - items 
*/
#inventory.on #items {
    left: 380px;
    top: 20px;
    width: 350px;
    height: 580px;
    position: absolute;
    background-color: #5b564b;
}
#inventory.on #items #item-type{
    left: 0px;
    top: 20px;
    width: 350px;
    height: 40px;
    position: absolute;
    background-color: #5b564b;
}
#inventory.on #items #item-type #i-equipment{
    left: 100px;
    top: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
    background: url('../images/UI/inventory/inventory-weapon-button-off.png')
}
#inventory.on #items #item-type #i-equipment.on{
    background: url('../images/UI/inventory/inventory-weapon-button-on.png')
}
#inventory.on #items #item-type #i-consumption{
    left: 140px;
    top: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
    background: url('../images/UI/inventory/inventory-consumption-button-off.png')
}
#inventory.on #items #item-type #i-consumption.on{
    background: url('../images/UI/inventory/inventory-consumption-button-on.png')
}
#inventory.on #items #item-type #i-general{
    left: 180px;
    top: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
    background: url('../images/UI/inventory/inventory-general-button-off.png')
}
#inventory.on #items #item-type #i-general.on{
    background: url('../images/UI/inventory/inventory-general-button-on.png')
}
#inventory.on #items #item-type #i-other{
    left: 220px;
    top: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
    background: url('../images/UI/inventory/inventory-other-button-off.png')
}
#inventory.on #items #item-type #i-other.on{
    background: url('../images/UI/inventory/inventory-other-button-on.png')
}
#inventory.on #items #item-data{
    left: 0px;
    top: 60px;
    width: 350px;
    height: 520px;
    position: absolute;
    background-color: #5b564b;
}

#inventory.on #items #item-data .item-piece{
    font-size: 0px;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    position: absolute;
}


#inventory.on #items #item-data .on .item-piece{
    padding-left: 34px;
    padding-top: 42px;
    font-size: 15px !important;
    width: 70px !important;
    height: 70px !important;
}

#inventory.on #items #gold{
    text-align:center;
    left: 150px;
    top: 550px;
    width: 200px;
    height: 30px;
    position: absolute;
    background: url('../images/UI/inventory-gold.png');
}
#inventory.on #items #gold #gold-text{
    color: wheat;
    font-size: 18px;  
    left: 60px;
    top: 0px;
    width: 140px;
    height: 30px;
    position: absolute;

}
/*
inventory - detail 
*/
#inventory.on #inventory-detail {
    color: wheat;
    font-size: 0px;
    left: 730px;
    top: 20px;
    width: 270px;
    height: 580px;
    position: absolute;
    background-color: #00000063;

}

#inventory.on #inventory-detail.on #inventory-detail-img {
    left: 100px;
    top: 40px;
    width: 70px;
    height: 70px;
    position: absolute;
    background: url('../images/items/innerItem/empty.png');
}

#inventory.on #inventory-detail.on #inventory-detail-name {
    font-size: 17px;
    text-align: center;
    left: 35px;
    top: 150px;
    width: 200px;
    height: 30px;
    position: absolute;
    background-color: #00000063;
}
#inventory.on #inventory-detail.on #inventory-detail-info {
    left: 10px;
    top: 220px;
    width: 250px;
    height: 350px;
    position: absolute;
    background-color: #00000063;
}
#inventory.on #inventory-detail.on #inventory-detail-info #item-info {
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    left: 0px;
    top: 0px;
    width: 230px;
    height: 80px;
    position: absolute;
}
#inventory.on #inventory-detail.on #inventory-detail-info #item-effect {
    left: 0px;
    top: 100px;
    width: 250px;
    height: 250px;
    position: absolute;
    background-color: #00000063;
}
#inventory.on #inventory-detail.on #inventory-detail-info #item-effect-name {
    font-size: 18px;
    left: 5px;
    top: 0px;
    width: 125px;
    height: 250px;
    position: absolute;
}
#inventory.on #inventory-detail.on #inventory-detail-info #item-effect-value {
    font-size: 18px;
    text-align: right;
    left: 125px;
    top: 0px;
    width: 120px;
    height: 250px;
    position: absolute;
}





screen #contents.on {
    left: 300px;
    top: 200px;
    width: 300px;
    height: 500px;
    position: absolute;
    background-color: #c6c6c6;
}
screen #stone.on {
    left: 300px;
    top: 200px;
    width: 300px;
    height: 500px;
    position: absolute;
    background-color: #c6c6c6;
}
screen #map.on {
    left: 350px;
    top: 100px;
    width: 1000px;
    height: 700px;
    position: absolute;
    background-color: #c6c6c6;
}



